// ---
// GLOBAL
//
// Global styles and typography definitions
// ---

// Font imports

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Layout

*, *::before, *::after {
  box-sizing: border-box;
}

// Typography

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $base-font-size;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Remove default button styles for accessibility
button {
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;

  font-size: 1em;
  color: inherit;
  background: none;
}