@import "../../styles/variables";

.app-MainContent {
  min-height: 100vh;

  background: #141E30;
  background: linear-gradient(to right, #141E30, #243B55);
  color: $white;
}

.app-PageContent {
  padding: 1rem;
}